<ion-header>
  <ion-toolbar>
    <ion-title>
      Data Mahasiswa Baru
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-card-content>
        <ion-img src="/assets/ira.png"></ion-img>
      <p>- Nama : Iriyani</p>
      <p>- NIM : 20111351</p>
      <p>- Tempat Tanggal Lahir : Bandung ,17 mei 2000</p>
      <p>- Fakultas/Prodi : PGMI</p>
      <p>- Tahun Ajaran : 2019</p>
      <p>- Asal Sekolah : SMA 1 Bandung</p>
      <p>- Alamat : Bandung Barat Jawa Barat</p>
    </ion-card-content>
  </ion-card>
  <ion-card class="welcome-card">
    <ion-card-content>
       <ion-img src="/assets/agus.jpg"></ion-img>
      <p>- Nama : Agus Permana</p>
      <p>- NIM : 20111423</p>
      <p>- Tempat Tanggal Lahir : Cierbon ,1 juli 1999 </p>
      <p>- Fakultas/Prodi : Sastra Inggris</p>
      <p>- Tahun Ajaran : 2019</p>
      <p>- Asal Sekolah : SMA Kristen Tasikmalaya</p>
      <p>- Alamat : Tasikmalaya Jawa Barat</p>
        </ion-card-content>
  </ion-card>
  <ion-card class="welcome-card">
    <ion-card-content>
       <ion-img src="/assets/siti.jpg"></ion-img>
      <p>- Nama : Siti Nur Rohman</p>
      <p>- NIM : 20111824</p>
      <p>- Tempat Tanggal Lahir : Bandung, 15 januari 2000</p>
      <p>- Fakultas/Prodi : Ilmu Hukum</p>
      <p>- Tahun Ajaran : 2019</p>
      <p>- Asal Sekolah : MAN 1 Jogja</p>
      <p>- Alamat : Kotagede Jogja</p>
          </ion-card-content>
  </ion-card>
  <ion-card class="welcome-card">
    <ion-card-content>
        <ion-img src="/assets/budi.jpg"></ion-img>
      <p>- Nama : Budiman</p>
      <p>- NIM : 20111457</p>
      <p>- Tempat Tanggal Lahir : kebumen, 20 november 1997</p>
      <p>- Fakultas/Prodi : akuntansi</p>
      <p>- Tahun Ajaran : 2019</p>
      <p>- Asal Sekolah : SMKN 1 jogja</p>
      <p>- Alamat : Kebumen Jawa Tengah</p>
    </ion-card-content>
  </ion-card>
  <ion-card class="welcome-card">
    <ion-card-content>
        <ion-img src="/assets/eko.jpg"></ion-img>
      <p>- Nama : Eko Sutarto</p>
      <p>- NIM : 20111731</p>
      <p>- Tempat Tanggal Lahir : Bandung ,15 agustus 2001</p>
      <p>- Fakultas/Prodi : PGMI</p>
      <p>- Tahun Ajaran : 2019</p>
      <p>- Asal Sekolah : MAN 1 Bandung</p>
      <p>- Alamat : Bandung JawaBarat</p>
    </ion-card-content>
  </ion-card>
</ion-content>
