<ion-header>
  <ion-toolbar>
    <ion-title>
      Tentang Universitas<br> Terbuka Indonesia
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
  <ion-card-header>
      <ion-img src="/assets/ut.jpg"></ion-img>
  <ion-card-content>
  <p>
      Universitas Terbuka (UT) adalah Perguruan Tinggi Negeri (PTN)<br>
      ke-45 di Indonesia yang menerapkan sistem belajar terbuka dan<br>
      jarak jauh. Sistem belajar ini terbukti efektif untuk meningkatkan<br>
      daya jangkau dan pemerataan kesempatan pendidikan tinggi yang<br> 
      berkualitas bagi semua warga negara Indonesia, termasuk mereka<br>
      yang tinggal di daerah-daerah terpencil, baik di seluruh nusantara<br>
      maupun di berbagai belahan dunia.
  </p>
  </ion-card-content>
  </ion-card-header>
</ion-card>
</ion-content>
